doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        title 포맨스톡
        link(href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet")
        link(href="/css/styles.css" rel="stylesheet")
        script(src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous")    
        
        //- MyPage
        //- link(href='/mypage/img/favicon.png' rel='icon')
        //- link(href='/mypage/img/apple-touch-icon.png' rel='apple-touch-icon')
        link(href='/https://fonts.gstatic.com' rel='preconnect')
        link(href='/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
        link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
        link(href='/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
        link(href='/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
        link(href='/vendor/quill/quill.snow.css' rel='stylesheet')
        link(href='/vendor/quill/quill.bubble.css' rel='stylesheet')
        link(href='/vendor/remixicon/remixicon.css' rel='stylesheet')
        link(href='/vendor/simple-datatables/style.css' rel='stylesheet')
        link(href='/css/mypage/style.css' rel='stylesheet')

    body.sb-nav-fixed
        nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
            //- Navbar Brand
            div.navbar-brand.ps-3
                a(href="/formanstock" style="text-decoration: none; color:white;") #{title} 
                img(src="/assets/img/4_24.png")
            //- Sidebar Toggle
            button.btn.btn-link.btn-sm.order-1.order-lg-0.me-4.me-lg-0(id="sidebarToggle" href="#!")
                i.fas.fa-bars
            //- Navbar Search
            form.d-none.d-md-inline-block.form-inline.ms-auto.me-0.me-md-3.my-2.my-md-0(action="/formanstock/search", method="GET")
                div.input-group
                    input.form-control(type="text" name="query" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch")
                    button.btn.btn-danger(id="btnNavbarSearch" type="submit")
                        i.fas.fa-search                
            form
            //- Navbar
            ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(id="navbarDropdown", href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false")
                        i.fas.fa-user.fa-fw
                    ul.dropdown-menu.dropdown-menu-end(aria-labelledby="navbarDropdown")
                        li
                            a.dropdown-item(href="#!") Settings
                        li 
                            a.dropdown-item(href="#!") Activity Log
                        li 
                            hr.dropdown-divider
                        li
                            a.dropdown-item(href=`/formanstock/${userInfo.login === "success" ? "logout" : "login-page"}`) #{userInfo.login === "success" ? "Logout" : "LogIn"}
        div#layoutSidenav
            div#layoutSidenav_nav
                nav.sb-sidenav.accordion.sb-sidenav-dark(id="sidenavAccordion")
                    div.sb-sidenav-menu
                        div.nav
                            // Core tab
                            div.sb-sidenav-menu-heading Menu
                            a.nav-link(href="/formanstock")
                                div.sb-nav-link-icon 
                                    i.fas.fa-tachometer-alt
                                    span  HOME 
                             
                            // a tag, div tag 형태로 구성됨. 계층 구조 형태가 아님
                            // Pages tab                         
                                a.nav-link.collapsed(href="#" data-bs-toggle="collapse" data-bs-target="#example" aria-expanded="false" aria-controls="collapsePages")
                                    div.sb-nav-link-icon
                                        i.fas.fa-book-open 
                                        span  Pages                                
                                    div.sb-sidenav-collapse-arrow
                                        i.fas.fa-angle-down                            
                                div.collapse(id="example" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion")
                                    nav.sb-sidenav-menu-nested.nav.accordion(id="sidenavAccordionPages")
                                        a.nav-link.collapsed(href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth") Authentication                                        
                                            div.sb-sidenav-collapse-arrow
                                                i.fas.fa-angle-down                                    
                                        div.collapse(id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages")
                                            nav.sb-sidenav-menu-nested.nav
                                                a.nav-link(href="login.html") Login
                                                a.nav-link(href="register.html") Register
                                                a.nav-link(href="password.html") Forgot Password                                        
                                        a.nav-link.collapsed(href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false") HOT                                    
                                            div.sb-sidenav-collapse-arrow
                                                i.fas.fa-angle-down                                    
                                        #pagesCollapseError.collapse(aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages")
                                            nav.sb-sidenav-menu-nested.nav
                                                a.nav-link(href="401.html") BEST
                                                a.nav-link(href="404.html") WORST
                                                a.nav-link(href="500.html") 관심종목

                            a.nav-link.collapsed(href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapseLayouts")
                                div.sb-nav-link-icon 
                                    i.fas.fa-columns 
                                    span  Pages                                                                      
                                div.sb-sidenav-collapse-arrow
                                    i.fas.fa-angle-down
                            // sidenavAccordion 이라는 아이디가 설정된 태그의 child이다.                      
                            div.collapse(id="collapsePages" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion")
                                nav.sb-sidenav-menu-nested.nav
                                    a.nav-link(href="#") BEST
                                    a.nav-link(href="#") 종목게시판
                                    a.nav-link(href="#") My 관심 종목

                            // 계정 관련 설정 탭
                            div.sb-sidenav-menu-heading Setting
                            a.nav-link.collapsed(href="#" data-bs-toggle="collapse" data-bs-target="#collapseAccount" aria-expanded="false" aria-controls="collapseLayouts")
                                div.sb-nav-link-icon 
                                    i.fas.fa-columns 
                                    span  Account                                                                      
                                div.sb-sidenav-collapse-arrow
                                    i.fas.fa-angle-down
                            // sidenavAccordion 이라는 아이디가 설정된 태그의 child이다.                      
                            div.collapse(id="collapseAccount" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion")
                                nav.sb-sidenav-menu-nested.nav
                                    if (userInfo.login === "success")
                                        a.nav-link(href=`/logout`) 로그아웃
                                        a.nav-link(href=`/mypage/${userInfo.info.USER_ID}`) 마이페이지
                                    else
                                        a.nav-link(href='/login-page') 로그인
                                        a.nav-link(href="/signup-page") 회원가입
                                        a.nav-link(href="#") 비밀번호 찾기
                                    

                    // navigation bar footer: 로그인시 회원 정보를 가져올 수 있도록 구현 완료                  
                    div.sb-sidenav-footer
                        div.small #{userInfo.login === "fail" ? `Guest` : `Loggined as ${userInfo.info.USER_ID}`}
                        // 회원 정보에 따라 사용자 이름 표시되도록 수정해야 
                        span #{userInfo.login === "fail" ? "더 많은 서비스를 이용해보세요" : `환영합니다!!`}
                            
            div#layoutSidenav_content
                //- 여기에 본인들 넣을 프론트 템플릿 추가하면 댐
                block content                    
                footer.py-4.bg-light.mt-auto 
                    .container-fluid.px-4      
                        .d-flex.align-items-center.justify-content-between.small
                            .text-muted Contact &copy; 010-6654-1318     
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous")
        script(src="/js/scripts.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous")
        script(src="/assets/demo/chart-area-demo.js")
        script(src="/assets/demo/chart-bar-demo.js")
        script(src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous")
        script(src="/js/datatables-simple-demo.js")

        //- My Page
        script(src='/vendor/apexcharts/apexcharts.min.js')
        script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
        script(src='/vendor/chart.js/chart.min.js')
        script(src='/vendor/echarts/echarts.min.js')
        script(src='/vendor/quill/quill.min.js')
        script(src='/vendor/simple-datatables/simple-datatables.js')
        script(src='/vendor/tinymce/tinymce.min.js')
        script(src='/vendor/php-email-form/validate.js')
        script(src='/js/main.js')

    

