extends ../navi_manage_layout

block content                        
    .card.shadow.mb-4  
        .card-header.py-3 
            h4.m-0.font-weight-bold.text-primary= title
        .card-body 
            .table-responsive
                table.table.table-bordered#dataTable(
                    width="100%"
                    cellspacing="0"
                    style = "text-align:center"
                )
                    thead
                        tr 
                        th 주식 코드
                        th 회사 이름 
                        th 총 주식량
                        th 회사 정보  
                        th 수 정                                      

                    tbody           
                        for row in rows[0]                                      
                            tr 
                            td #{row.STOCK_CODE}
                            td #{row.COMPANY_NAME}
                            td #{row.TOTAL_STOCK_NUM}
                            td #{row.COMPANY_INFO}                            
                            td                                                                                    
                                form(action=`/formanstock/manage/companies/${row.COMPANY_NAME}/info` method = "get")
                                    button.btn.btn-success.btn-icon-split(type ="submit")
                                        span.icon.text-white-50
                                            i.fas.fa-check 
                                        span.text 수정
                        
    nav(aria-label="...")
        ul.pagination.justify-content-center        
            li.page-item.disabled 
                a.page-link(href="#" tabindex="-1") Previous
            li.page-item
                a.page-link(href="#") 1
            li.page-item.active 
                a.page-link(href = "#") 2 
                span.sr-only (current)
            li.page-item
                a.page-link(href="#") 3
            li.page-item
                a.page-link(href="#") Next  