extends ../navi_board_layout

block content                        
    .card.shadow.mb-4  
        .card-header.py-3 
            h4.m-0.font-weight-bold.text-primary= title
        .card-body 
            .table-responsive
                table.table.table-bordered#dataTable(
                    width="100%"
                    cellspacing="0"
                    style = "text-align:center"
                )
                    thead                         
                        th 제목  
                        th 내용
                        th 작성자                                           
                        th 날짜  
                    if rows[1].length !=0                                                        
                        tbody           
                            for row in rows[1]                                     
                                tr 
                                td 
                                    a(href=`/formanstock/board/${row.STOCK_CODE}/posts/${row.POST_NO}`)= row.POST_TITLE
                                if row.POST_CONTENT.length >= 15
                                    td #{row.POST_CONTENT.substring(0,15) + ' ...'}
                                else 
                                    td #{row.POST_CONTENT}
                                td #{row.USER_ID}
                                td #{row.REG_DATE}
                    
    
            a.btn.btn-success.btn-icon-split(href=`/formanstock/board/${stock_code}/write-form`)
                span.icon.text-white-50
                    i.fas.fa-check 
                span.text 글 작성하기  
                
                        
    nav(aria-label="...")
        ul.pagination.justify-content-center        
            li.page-item.disabled 
                a.page-link(href="#" tabindex="-1") Previous
            li.page-item
                a.page-link(href="#") 1
            li.page-item.active 
                a.page-link(href = "#") 2 
                span.sr-only (current)
            li.page-item
                a.page-link(href="#") 3
            li.page-item
                a.page-link(href="#") Next  